*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big_banner_wrapper{
    width: 900px;

    position: relative;
}

.big_banner{
    position: relative;
}
.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.btn-left{
    left: 0;
}

.btn-right{
    right: 0;
}

.slick-dots{
    display: flex !important;
    /* color: rgba(0, 0, 0, 0.8); */
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}

.slick-dots li{

    list-style: none;
    margin-right: 8px;
}

.slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    background: #000;
}

.slick-dots .slick-active button{
    background: orangered;
}