@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --orange--: rgb(238, 77, 45);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f5f5f5;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    height: 120px;
    background-image: linear-gradient(-180deg,#f53d2d,#f63);
    color: #fff;
    font-weight: 400;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .navbar{
    display: flex;
    height: 34px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}

.header .navbar-list{
    display: flex;
}

.header .navbar-item{
    list-style: none;
    padding: 4px;
    margin-right: 10px;
    position: relative;
}

.header .navbar-list:first-child .navbar-item:first-child{
    padding-left: 0px;
}

.header .navbar-item:not(.navbar-list:first-child .navbar-item:last-child):hover{
    color: hsla(0,0%,100%,.7);
    cursor: pointer;
}

.header .navbar-item.social i:hover{
    cursor: pointer;
}

.separate::after{
    content: "";
    position: absolute;
    display: block;
    border-right: 1px solid hsla(0,0%,100%,.22);
    border-left: 1px solid hsla(0,0%,100%,.22);
    height: 12px;
    top: calc(50% - 7px);
    right: -6px;
    /* background-color: rgb(195, 194, 194); */
}

.header .navbar-item i{
    width: 1rem;
    height: 1rem;
    /* margin-right: 10px; */
}

.search{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 1rem 0 0.625rem;
}

.search .logo{
    /* background: #fff; */
    width: 162px;
    height: 50px;
    margin-right: 40px;
}

.search .logo svg{
    fill: #fff;
}

/* .search .logo img{
   
}    */

.search .search-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 40px;
}

.search .search-section .searchbar{
    width: 840px;
    height: 40px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 9%);
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    border-radius: 2px;
}

.search .search-section .searchbar .searchbar-main{
    display: flex;
    padding: 0 0.625rem;
    position: relative;
    width: 100%;
    /* outline: none; */
}

.search .search-section .searchbar .searchbar-main input{
    border: none;
    outline: none;
    width: 100%;
}

/* .search .search-section .searchbar .searchbar-main input::before{
    outline: auto;
    position: absolute;
    z-index: 1;
    top: -4px;
    bottom: -4px;
    left: -4px;
    padding: 0 0.625rem;

} */


/* .search .search-section .searchbar .searchbar-main::before{
    border: 1px solid black;
    position: absolute;
    top: -6px;
    bottom: -6px;
    left: -6px;
    right: 7px;
    z-index: -1;
} */

.search .search-section .searchbar .searchbar-btn{
    width: 60px;
    height: 34px;
    border-radius: 2px;
    background: var(--orange--);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.search .search-section .cate-list{
    display: flex;
}

.search .search-section .cate-list .cate-item{
    list-style: none;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 400;
    flex-wrap: wrap;
    line-height: 24px;
    margin: 5px 13px 5px 0;
}

.search .search-section .cate-list .cate-item{
    cursor: pointer;
}

.search .cart{
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px; */
}

.section-banner-hotword{
    background: #fff;
    margin-top: 120px;
    padding-top: 30px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

.banner{
    display: flex;
    /* margin-top: 30px; */
    gap: 5px;
}

.banner .big-banner{
    flex-grow: 2;
    position: relative;
}

.banner .big-banner .image{
    background-image: url(images/bb-1.png);
    background-position: center;
    background-size: cover;
    height: 235px;
    border-radius: 2px;
}

.banner .big-banner .btn-left{
    position: absolute;
    left: 0;
    top: 50%;
    width: 35px;
    height: 60px;
    background: rgba(0, 0, 0, .3);
    transform: translateY(-50%);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    display: none;
}

.banner .big-banner:hover .btn-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .big-banner:hover .btn-left:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, .6);
}

.banner .big-banner .btn-left i{
    font-size: 1.5rem;
    color: #fff;
}

.banner .big-banner .btn-right{
    position: absolute;
    right: 0;
    top: 50%;
    width: 35px;
    height: 60px;
    background: rgba(0, 0, 0, .3);
    transform: translateY(-50%);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    display: none;
}

.banner .big-banner:hover .btn-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .big-banner:hover .btn-right:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, .6);
}

.banner .big-banner .btn-right i{
    font-size: 1.5rem;
    color: #fff;
}


.banner .small-banner{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
}

.banner .small-banner div:first-child{
    flex: 1;
    background-image: url(images/small_banner1.png);
    background-position: center;
    background-size: cover;
}

.banner .small-banner div:nth-child(2){
    flex: 1;
    background-image: url(images/small_banner2.png);
    background-position: center;
    background-size: cover;
}

.banner .small-banner div img{
    width: 40%;
    height: 40%;
}

.hotword{
    display: flex;
    margin-top: 10px;
}

.hotword a{
    padding: 15px 0;
    text-decoration: none;
    color: #000;
}

.wrap-itemhot{
    position: relative;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrap-itemhot:hover{
    top: -1px;
}

.wrap-itemhot .itemhot-image{
    width: 45px;
    height: 45px;
}

.wrap-itemhot .itemhot-image img{
    width: 100%;
    height: 100%;
}

.wrap-itemhot .itemhot-title{
    margin: 8px 0;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
}

/* .main{
} */

.simple-banner{
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 2px;
}

.section-category{
    margin-top: 20px;
}

.section-category .container{
    background-color: #fff;
}

.section-category .category-header{
    font-size: 1rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .54);
    padding: 20px;
    font-weight: 500;
}

.section-category .category-list-row{
    display: flex;
}

.section-category .category-list{
    position: relative;
}

.section-category .category-list a{
    text-decoration: none;
}

.section-category .category-list .category-item{
    width: 120px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1px solid #f1f0f0;
    border-collapse: collapse;
    padding: 8px;
}

.section-category .category-list .category-item:hover{
    border: 0.5px solid #abaaaa;
}

.section-category .category-list .category-item .category-image{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}   

.section-category .category-list .category-item .category-image img{
    width: 70%;
    height: auto;
}

.section-category .category-list .category-item .category-title{
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    padding: 4px 0;
    color: rgba(0, 0, 0, .8);
    word-break: break-word;
    line-height: 1.25rem;
    height: 2.5rem;
}

.section-category .category-list .btn-right{
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #f1f0f0;
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 1px 12px 0 rgb(0 0 0 / 12%)
}


.section-category .category-list .btn-right i{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    color: #333;
}

.section_flashSales .container{
    margin-top: 20px;
    background: #fff;
}

.section_flashSales .header_flashSales{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}

.section_flashSales .header_flashSales .header_left{
    display: flex;
}

.section_flashSales .header_flashSales .header_left img{
    width: 150px;
    padding-right: 16px;
}

.section_flashSales .header_flashSales .header_left .time span{
    color: #fff;
    background-color: #000;
    padding: 0px 3px;
    border-radius: 2px;
}

.section_flashSales .header_flashSales .header_right{
    color: #ee4d2d;
    padding: 0 16px;
    text-transform: capitalize;
}

.section_flashSales .carousel_wrapper .carousel_list{
    display: flex;
    justify-content: space-between;
}

.section_flashSales .carousel_wrapper .carousel_list .carousel_item{
    width: 200px;
    height: 240px;
    padding: 5px 10px 20px 10px;
    list-style: none;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section_flashSales .carousel_wrapper .carousel_list .carousel_item .carousel_img{
    width: 100%;
    position: relative;
    margin-bottom: 6px;
}

.section_flashSales .carousel_wrapper .carousel_list .carousel_item .carousel_img img:first-child{
    width: 100%;
    /* border: 1px solid black; */
}

.section_flashSales .carousel_wrapper .carousel_list .carousel_item .carousel_img img:nth-child(2){
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.section_flashSales .carousel_wrapper .carousel_list .carousel_item .carousel_price{
    color: #ee4d2d;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 6px;
}

.section_flashSales .carousel_wrapper .carousel_list .carousel_item .carousel_price span{
    font-size: 12px;
    text-decoration: underline;
    font-weight: 400;
}

.section_flashSales .carousel_wrapper .carousel_list .carousel_item .carousel_status{
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background: #ffbda6;
    border-radius: 8px;
    position: relative;
    width: 90%;
    padding: 1.5px 0;
}

.section_flashSales .carousel_wrapper .carousel_list .carousel_item .carousel_status span{
    position: absolute;
    left: 0;
    top: 0;
    background: #ee4d2d;
    width: 30%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.section_flashSales .carousel_wrapper .carousel_list .carousel_item .carousel_discount{
    position: absolute;
    top: 0;right: 0;
    background: rgba(255,212,36,.9);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 6px;
}

.section_flashSales .carousel_wrapper .carousel_list .carousel_item .carousel_discount .percent{
    color: #ee4d2d;
    font-weight: 400;
}

.section_flashSales .carousel_wrapper .carousel_list .carousel_item .carousel_discount span:nth-child(2){
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

.section_shopee_mall{
    margin: 20px 0;
}

.section_shopee_mall .container{
    background-color: #fff;
}

.shopee_mall_header{
    display: flex;
    justify-content: space-between;
}

.shopee_mall_header{
    border-bottom: 1px solid #7e7e7e;
    padding: 20px;
}

.shopee_mall_header .mall_header_left{
    display: flex;
}

.shopee_mall_header .mall_header_left .title{
    text-transform: uppercase;
    color: #d0011b;
    padding: 0 12px;
    position: relative;
    font-size: 18px;
}

.shopee_mall_header .mall_header_left .pol_list{
    display: flex;
}

.shopee_mall_header .mall_header_left .pol_list .pol_item{
    list-style: none;
    padding-left: 12px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.shopee_mall_header .mall_header_left .pol_list .pol_item .pol_logo{
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.shopee_mall_header .mall_header_left .pol_list .pol_item .pol_logo img{
    width: 100%;
}

.shopee_mall_header .mall_header_right{
    color: #d0011b;
}

.shopee_mall_header .mall_header_right i{
    padding:3px 6px;
    color: #fff;
    background: #d0011b;
    border-radius: 50%;
    margin-left: 4px;
}

.shopee_mall_main{
    display: flex;
    padding: 10px;
    gap: 10px;
}

.shopee_mall_main .shopee_mall_banner{
    flex-grow: 1;
    height: 465px;
}

.shopee_mall_main .shopee_mall_wrapper_items{
    flex-grow: 2;
}

.shopee_mall_list{
    display: flex;
}

.shopee_mall_list .shopee_mall_item{
    width: 200px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.shopee_mall_list .shopee_mall_item .shopee_mall_item_image img{
    width: 90%;
    height: auto;
}

.shopee_mall_list .shopee_mall_item .shopee_mall_item_name{
    position: absolute;
    top: 85%;
    text-transform: capitalize;
    font-size: 18px;
    color: #d0011b;
    text-align: center;
    white-space: nowrap; 
    width: 172px;
    height: 27px;
    line-height: 27px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.section_search_trend{
    margin-bottom: 20px;
}

.section_search_trend .container{
    background: #fff;
}

.search_trend_header{
    display: flex;
    justify-content: space-between;
    padding:20px;
}

.search_trend_header p:first-child {
    text-transform: uppercase;
    color: rgba(0, 0, 0, .54);
}

.search_trend_header p:nth-child(2) {
    text-transform: capitalize;
    color: #ee4d2d;
    font-weight: 400;
}

.search_trend_header p:nth-child(2) i{
    font-size: 12px;
    margin-right: 2px;
}

.search_trend_list{
    display: flex;
    border-top: 0.5px solid #f2f2f2;
}

.search_trend_item{
    width: 20%;
    height: 100px;
    display: flex;
}   

.search_trend_item .search_trend_title{
    padding: 20px;
    width: 50%;
}

.search_trend_item .search_trend_title .search_trend_name{
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search_trend_item .search_trend_title .search_trend_total{
    font-size: 12px;
    padding: 8px 0;
}

.search_trend_item .search_trend_image{
    width: 100%;
    height: 100%;
    /* background: #d0011b; */
    flex: 1;
}

.search_trend_item .search_trend_image img{
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

.section_top_search{
    margin-bottom: 20px;
}

.section_top_search .container{
    background: #fff;
}

.top_search_header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.top_search_header .top_search_header_left{
    text-transform: uppercase;
    color: #ee4d2d;
}

.top_search_header .top_search_header_right{
    text-transform: capitalize;
    color: #ee4d2d;
}

.top_search_list{
    display: flex;
}

.top_search_item{
    width: 200px;
    padding: 20px 10px;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}  

.top_search_item .top_search_image{
    width: 100%;
    height: auto;
    position: relative;
}

.top_search_item .top_search_image .main_image{
    width: 100%;
}

.top_search_item .top_search_image .kpi{
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,.26);
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-weight: 500;
    font-size: 14px;
}

.top_search_item .top_search_image .top_logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 38px;
}

.top_search_item .top_search_name{
    text-transform: capitalize;
    color: #555;
    width: 100%;
    overflow: hidden;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-word;
    font-size: 18px;
    text-align: left;
}

.section_recomend_product{
    padding-bottom: 60px;
    border-bottom: 5px solid #ee4d2d;
}

.section_recomend_product .container .container_header{
    background: #fff;
}

.section_recomend_product .container .recomend_product_header{
    text-transform: uppercase;
    color: #ee4d2d;
    padding: 20px;
    width: 20%;
    text-align: center;
    font-size: 18px;
    display: block;
    border-bottom: 4px solid #ee4d2d;
    margin-bottom: 10px;
}

.recomend_product_list{
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    padding-bottom: 30px;
}

.recomend_product_list .recomend_product_item_wrapper{
    display: flex;
    flex-direction: column;
    width: 16.6667%;
    outline: none;
    padding: 5px;
    transition: 0.1s linear;
    border: none;
}

.recomend_product_list .recomend_product_item{
    position: relative;
}

.recomend_product_list .recomend_product_item:hover{
    cursor: pointer;
    border: 1px solid orangered;
}

.recomend_product_list .recomend_product_item:hover .product_footer{
    display: block;
}

.recomend_product_list .recomend_product_item .recomend_product_image{
    width: 100%;
    position: relative;
    margin-bottom: 4px;
}

.recomend_product_list .recomend_product_item .recomend_product_image img{
    width: 100%;
}

.recomend_product_list .recomend_product_item .recomend_product_info{
    padding: 4px;
}

.recomend_product_list .recomend_product_item .recomend_product_info .product_name{
    font-size: 12px;
    height: 28px;
    overflow: hidden;
    display: -webkit-box;
    white-space: normal;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.recomend_product_list .recomend_product_item .recomend_product_info .product_sub_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}


.recomend_product_list .recomend_product_item .recomend_product_info .product_sub_info .product_price{
    font-size: 16px;
    color: #ee4d2d;
}

.recomend_product_list .recomend_product_item .recomend_product_info .product_sub_info .product_price span{
    font-size: 8px;
    text-decoration: underline;
}

.recomend_product_list .recomend_product_item .recomend_product_info .product_sub_info .product_quantity{
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
}

.recomend_product_list .recomend_product_item .product_footer{
    color: #fff;
    font-size: 14px;
    border: 1px solid #ee4d2d;
    background-color: #ee4d2d;
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    padding: 4px;
    text-align: center;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    z-index: 1;
    display: none;
}

.btn_viewmore{
    width: 100%;
}

.btn_viewmore a{
    display: block;
    width: 33%;
    margin: 0 auto;
    padding: 10px 20px;
    text-transform: capitalize;
    text-align: center;
    color: #555;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
}

.btn_viewmore a:hover{
    background: #f0f0f0;
}

.footer{
    background: #fff;
    padding-bottom: 35px;
}

.footer .footer_info{
    font-size: 12px;    
    padding: 50px 0;
    border-bottom: 1px solid #f0f0f0;
}

.footer .footer_info_heading{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 20px;
}

.footer .footer_info_content{
    padding-top: 20px;
}

.footer .footer_info a{
    color: #1155cc;
    font-weight: 600;
}

.footer span{
    text-decoration: underline;
    font-weight: 600;
}

.footer .footer_info ul{
    padding: 12px 30px;
}

.footer .footer_info ul li:not(li:last-child){
    padding-bottom: 8px;
}

.footer_category{
    padding: 50px 0;
}

.footer_category_col_wrapper{
    display: flex;
}

.footer_category .title{
    padding: 4px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, .54);
    font-weight: 700;
}

.footer_category_col{
    max-width: 20%;
}

.footer_category_col .footer_category_item_row{
    padding: 10px 4px;
}

.footer_category_col .footer_category_item_row h3{
    text-transform: uppercase;
    color: rgba(0, 0, 0, .54);
    padding: 8px 0;
    font-size: 12px;
    font-weight: 700;
}



.footer_category_col .footer_category_item_row a,
.footer_category_col .footer_category_item_row span
{
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
    text-decoration: none;
}

.footer_category_col .footer_category_item_row a{
    display: inline-block;

}
.footer_category_col .footer_category_item_row a::first-letter{
    text-transform: capitalize;
}

.footer_category .footer_category_item_row h3:hover,
.footer_category_col .footer_category_item_row a:hover
{
    color: #ee4d2d;
    cursor: pointer;
}

.footer_main{
    padding: 30px 0;
}

.footer_main .footer_main_col{
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid #f0f0f0;
}

.footer_main .footer_main_col .footer_main_item{
    width: 20%;
}

.footer_main .footer_main_item_header{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .54);
    margin-bottom: 24px;
}

.footer_main .footer_main_item ul li{
    list-style: none;
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    text-transform: capitalize;
    margin-bottom: 12px;
}

.footer_main .footer_main_item ul li:hover{
    color: #ee4d2d;
    cursor: pointer;
}

.footer_main .footer_main_item ul li i{
    padding-right: 8px;
}

.footer_main .footer_main_item .footer_download_now{
    display: flex;
}

.footer_main .footer_main_item .footer_download_now img{
    width: 35%;
    height: 35%;
    margin-right: 15px;
}

.footer_main .footer_main_item .footer_download_now ul li img{
    width: 80px;
}

.footer_main_area{
    display: flex;
    padding: 40px 0;
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
}

.footer_main_area .footer_main_area_left{
    flex: 1;
    text-align: left;
}

.footer_main_area .footer_main_area_right{
    flex: 2;
    text-align: center;
}

.footer_main_area .footer_main_area_right a{
    text-decoration: none;
    color: rgba(0, 0, 0, .54);
}

.footer_main_area .footer_main_area_right a:hover{
    cursor: pointer;
}

.footer_polocy{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.footer_polocy a{
    padding: 0 25px;
    border-right: 1px solid rgba(0, 0, 0, .09);
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    text-transform: uppercase;
    text-decoration: none;
}

.footer_polocy a:last-child{
    border-right: none;
}

.footer_vn_register{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_vn_register img{
    width: 120px;
    margin-right: 35px;
}

.footer_vn_register img:last-child{
    width: 48px;
}

.footer_name_cty{
    margin: 8px 0 25px;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
}

.footer_end p{
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, .65);
}





